./web-client/node_modules
./web-client/.next
./web-client/.npm-only-allow

./core/node_modules
./core/.npm-only-allow
./core/.env

./source/node_modules
./source/.npm-only-allow
/core/node_modules
/source/node_modules
/web-client/.next
/web-client/node_modules
core/.env
