/web-client/node_modules
/web-client/.next
/web-client/.npm-only-allow
/web-client/.gitignore

/core/node_modules
/core/.npm-only-allow
/core/.gitignore
core/.env

/source/node_modules
/source/.npm-only-allow
/source/.gitignore
/core/.npm-only-allow
/core/.npm-only-allow
