@import "./fonts.css";

.default-container {
  /* weeb - styles */
  --font-family: Poppins, sans-serif;
  color: var(--default-color-default);
  font-family: Poppins, sans-serif;
}

.terminal-container {
  --font-family: ui-monospace, monospace;
  color: var(--terminal-color-default);
  font-family: ui-monospace, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

/* MyAnimeList specific styles */

#svg-main {
  --color-watching: #2196f3;
  --color-completed: #2ecc71;
  --color-onhold: #f1c40f;
  --color-dropped: #ff5252;
  --color-plan-to-watch: #95a5a6;
}
