/* #svg-main.half .half\:xs-text {
  font-size: 10px !important;
}

#svg-main.half .half\:sm-text {
  font-size: 12px !important;
}

#svg-main.half .half\:md-text {
  font-size: 16px !important;
}

#svg-main.half .half\:lg-text {
  font-size: 20px !important;
}

#svg-main.half .half\:hidden {
  display: none;
}

#svg-main.half .half\:flex {
  display: flex;
}

#svg-main.half .half\:flex-row {
  flex-direction: row;
}

#svg-main.half .half\:flex-col {
  flex-direction: column;
}

#svg-main.half .half\:flex-wrap {
  flex-wrap: wrap;
}

#svg-main.half .half\:block {
  display: block;
}

#svg-main.half .default-status-horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  justify-items: start;
}

#svg-main.half .fav-character-title {
  font-size: 20px;
}

#svg-main.half .half\:md-2-text {
  font-size: 14px !important;
}
#svg-main.half .half\:sm-text {
  font-size: 12px !important;
}
#svg-main.half .half\:xs-text {
  font-size: 10px !important;
}

#svg-main.half .half\:min-w-0 {
  width: 0 !important;
}
#svg-main.half .half\:w-auto {
  width: auto !important;
}

#svg-main.half .half\:flex-d {
  display: flex;
  flex-direction: column;
}
#svg-main.half .half\:min-w-100 {
  width: 100px;
}

#svg-main.half .half\:min-h-100 {
  height: 100px;
}
#svg-main.half .half\:grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
#svg-main.half .half\:w100 {
  width: 100%;
}
#svg-main.half .half\:gap-2 {
  gap: 2px;
}

#svg-main.half .half\:min-w-full {
  min-width: 100%;
}

#svg-main.half .half\:min-h-full {
  min-height: 100%;
} */
