#svg-main.terminal {
  /* //282c34 */
  --terminal-color-bg-surface: #343434;
  --terminal-color-bg: #1c1c1c;
  --terminal-color-highlight: #2443ff;

  --terminal-color-text: #e8dcb4;
  --terminal-color-text-error: #ff5370;
  --terminal-color-text-success: #c3e88d;
  --terminal-color-text-warning: #ffcb6b;
  --terminal-color-text-muted: #888;
  --terminal-color-text-muted-light: #ccc;
  --terminal-color-text-raw: #f8f8f2;
  --font-family: "Courier New", Courier, monospace;
}

section {
  padding: 0px !important;
}

.text-error {
  color: var(--terminal-color-text-error);
}

.text-warning {
  color: var(--terminal-color-text-warning);
}

.text-muted {
  color: var(--terminal-color-text-muted);
}

.text-muted-light {
  color: var(--terminal-color-text-muted-light);
}

.text-success {
  color: var(--terminal-color-text-success);
}

.text-highlight {
  color: var(--terminal-color-highlight);
}

.text-raw {
  color: var(--terminal-color-text-raw);
}

.terminal-line-break {
  color: var(--terminal-color-text-muted);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  margin: 2px 0;
}

.terminal-navbar {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  width: 100%;
  background-color: var(--terminal-color-bg-surface);
  color: var(--terminal-color-text);
  padding: 4px 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

.terminal-statistic {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 2px;
  text-wrap: nowrap;
  align-items: end;
}

.terminal-command {
  color: var(--terminal-color-text-muted);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 0px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.left-section {
  margin-right: auto;
}

.right-section {
  margin-left: auto;
}

.terminal-body {
  background-color: var(--terminal-color-bg);
  color: var(--terminal-color-text);
  padding: 6px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

.text-bold {
  font-weight: bold;
}

/* List Item */

.border-b {
  border-bottom: 1px solid var(--terminal-color-text-muted);
  margin-bottom: 4px;
}

.terminal-grid-2 {
  display: grid;
  grid-template-columns: auto min-content;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
  align-items: center;
}

.terminal-grid-3 {
  display: grid;
  grid-template-columns: auto min-content min-content;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
  align-items: center;
}

.terminal-list-item {
  display: grid;
  grid-template-columns: 1fr min-content;
  text-wrap: nowrap;
  padding: 2px 0;
}

.color-raw {
  color: var(--terminal-color--text-raw);
}

.grid-header-item {
  width: 100%;
  border: 1px solid var(--terminal-color-text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
}

.ml-auto {
  margin-left: auto;
}

/* Statistics */

.terminal-featured-track {
  display: grid;
  grid-template-columns: min-content 1fr;
  text-wrap: nowrap;
}

/* Tree */

.tree-content {
  display: grid;
  grid-template-columns: 30px min-content 1fr;
  gap: 2px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-title {
  display: grid;
  gap: 2px;
  grid-template-columns: 30px 1fr;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
