.headerContainer {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bgColor-inset);
  padding: 0 12px;
  max-width: 100vw;
  border-bottom: 1px solid var(--borderColor-default);
  font-family: var(--font-family);
  color: var(--fgColor-default);
  margin: 0;
  height: 56px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 20;
  background: var(--bgColor-inset);
}

/* --DevMenu-- */

.headerButton {
  display: block;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  background-color: var(--button-background-rest);
  border: 1px solid var(--button-border);
  --tw-shadow-color: rgba(0, 0, 0, 0.2);
  --tw-shadow: var(--tw-shadow-colored);
  outline: 1px solid transparent;
  outline-offset: 2px;
}

.headerButtonDev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 12px;
  background-color: var(--button-background);
  line-height: 1;
  cursor: pointer;
  border: 1px solid var(--button-border-rest);
  user-select: none;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.headerButtonDev:hover,
.headerButton:hover {
  background-color: var(--button-background-hover);
  border-color: var(--button-border-hover);
}

.listItemHeading {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--violet-12);
}

.headerButtonText {
  color: var(--mauve-11);
  line-height: 1.4;
  font-weight: initial;
}

.secondHeaderContainer {
  background: var(--bgColor-active);
  padding: 4px 12px;
  max-width: 100vw;
  border-bottom: 1px solid var(--borderColor-default);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  color: var(--fgColor-default);
  max-height: 36px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-items: center;
  align-items: start;
  opacity: 1;
  will-change: max-height, opacity;
  z-index: 1;

  &[data-open="true"] {
    animation: slideInHeader 200ms ease;
    opacity: 1;
    max-height: 36px;
  }
  &[data-open="false"] {
    animation: slideOutHeader 200ms ease;
    opacity: 0;
    max-height: 0;
  }
}

@keyframes slideInHeader {
  from {
    transform: translateY(-36px);
    max-height: 0;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    max-height: 36px;
  }
}

@keyframes slideOutHeader {
  from {
    transform: translateY(0);
    max-height: 36px;
    opacity: 1;
  }
  to {
    transform: translateY(-36px);
    max-height: 0;
    opacity: 0;
  }
}
