@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button {
  all: unset;
}

.form-input-container {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.1rem 0.65rem;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.1rem 0.55rem;
  }
}

.form-input-label {
  font-size: var(--form-label-size);
  font-weight: 500;
  color: var(--form-label);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  justify-content: space-between;
  line-height: 1;
  user-select: none;
  &.active-plugin {
    margin-bottom: 0rem;
  }
}

/* TEXT AND NUMBER */

.text-plugins-input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--form-border);
  border-radius: 6px;
  font-size: var(--form-input-size);
  color: var(--form-title);
  background-color: var(--form-background);
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: var(--form-primary);
    outline: none;
  }
}

/* RADIO */

.radio-plugins-root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.radio-plugins-item {
  background-color: var(--form-input-bg);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a7);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--violet-3);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--form-focus);
  }
}

.radio-plugins-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--form-primary);
  }
}

.radio-plugins-label {
  color: var(--form-label);
  font-size: var(--form-label-size);
  line-height: 1;
  padding-left: 9px;
  user-select: none;
  text-transform: capitalize;
}

/* SWITCH */

.switch-plugins-root {
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.active-plugin {
    width: 40px;
    height: 28x;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
  &[data-state="checked"] {
    background-color: var(--form-primary);
  }
}

.switch-plugins-thumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  transform: translateX(3px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(23px);
  }
  &.active-plugin {
    width: 18px;
    height: 18px;
  }
}

/* selector */

.selector-plugins-container {
  border-radius: 6px !important;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.selector-plugins-control {
  color: var(--form-title) !important;
  font-size: var(--form-input-size) !important;
  transition: border-color 0.2s ease-in-out;
  background-color: var(--form-background) !important;
  border: 1px solid var(--form-border) !important;
}

.selector-plugins-value {
  border-radius: 6px !important;
  background-color: var(--form-background-third) !important;
  border: 1px solid var(--form-border) !important;
  color: var(--form-text) !important;
}

.selector-plugins-value-label {
  color: var(--form-tag-text) !important;
  font-size: var(--form-input-size) !important;
}

.selector-plugins-value-remove {
  color: var(--form-text) !important;
  font-size: var(--form-input-size) !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--form-error) !important;
    color: white;
  }
}

.selector-plugins-option {
  color: var(--form-text) !important;
  font-size: var(--form-input-size) !important;
  background-color: var(--form-background) !important;
  transition: all 0.2s ease-in-out;
  border-radius: 6px !important;
  &:hover {
    background-color: var(--form-primary) !important;
    color: white !important;
  }
}

.selector-plugins-menu-list {
  padding: 0 !important;
  background-color: var(--form-background) !important;
  box-shadow: 0 2px 10px var(--black-a7) !important;
}

.selector-plugins-indicator-separator {
  background-color: var(--form-border) !important;
}

.selector-plugins-menu {
  margin-top: 4px 0 !important;
}
