/* Tailwind CSS Input File */

/* This file is used as input for Tailwind CLI to generate utility classes */

/* We only need utilities, not base or components */

.static {
  position: static
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  inset: 0px
}

.right-0 {
  right: 0px
}

.z-10 {
  z-index: 10
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.row-span-2 {
  grid-row: span 2 / span 2
}

.m-0 {
  margin: 0px
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-\[3px\] {
  margin-left: 3px;
  margin-right: 3px
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.my-1\.5 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem
}

.mb-0\.5 {
  margin-bottom: 0.125rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-1\.5 {
  margin-bottom: 0.375rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-2\.5 {
  margin-bottom: 0.625rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-1\.5 {
  margin-left: 0.375rem
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-auto {
  margin-left: auto
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-0\.5 {
  margin-top: 0.125rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-\[0\.25rem\] {
  margin-top: 0.25rem
}

.mt-\[0\.5rem\] {
  margin-top: 0.5rem
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.grid {
  display: grid
}

.inline-grid {
  display: inline-grid
}

.hidden {
  display: none
}

.aspect-video {
  aspect-ratio: 16 / 9
}

.h-10 {
  height: 2.5rem
}

.h-12 {
  height: 3rem
}

.h-14 {
  height: 3.5rem
}

.h-16 {
  height: 4rem
}

.h-2 {
  height: 0.5rem
}

.h-2\.5 {
  height: 0.625rem
}

.h-20 {
  height: 5rem
}

.h-3 {
  height: 0.75rem
}

.h-3\.5 {
  height: 0.875rem
}

.h-32 {
  height: 8rem
}

.h-4 {
  height: 1rem
}

.h-6 {
  height: 1.5rem
}

.h-7 {
  height: 1.75rem
}

.h-8 {
  height: 2rem
}

.h-\[0\.7rem\] {
  height: 0.7rem
}

.h-\[100px\] {
  height: 100px
}

.h-\[120px\] {
  height: 120px
}

.h-\[15px\] {
  height: 15px
}

.h-\[50px\] {
  height: 50px
}

.h-\[60px\] {
  height: 60px
}

.h-\[75px\] {
  height: 75px
}

.h-full {
  height: 100%
}

.h-px {
  height: 1px
}

.max-h-\[50px\] {
  max-height: 50px
}

.min-h-\[120px\] {
  min-height: 120px
}

.min-h-\[50px\] {
  min-height: 50px
}

.min-h-\[75px\] {
  min-height: 75px
}

.min-h-\[80px\] {
  min-height: 80px
}

.w-10 {
  width: 2.5rem
}

.w-12 {
  width: 3rem
}

.w-14 {
  width: 3.5rem
}

.w-16 {
  width: 4rem
}

.w-2 {
  width: 0.5rem
}

.w-20 {
  width: 5rem
}

.w-3 {
  width: 0.75rem
}

.w-3\.5 {
  width: 0.875rem
}

.w-4 {
  width: 1rem
}

.w-6 {
  width: 1.5rem
}

.w-7 {
  width: 1.75rem
}

.w-8 {
  width: 2rem
}

.w-\[0\.60rem\] {
  width: 0.60rem
}

.w-\[0\.7rem\] {
  width: 0.7rem
}

.w-\[60px\] {
  width: 60px
}

.w-auto {
  width: auto
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content
}

.w-full {
  width: 100%
}

.w-px {
  width: 1px
}

.min-w-0 {
  min-width: 0px
}

.max-w-\[60\%\] {
  max-width: 60%
}

.max-w-full {
  max-width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink {
  flex-shrink: 1
}

.flex-shrink-0 {
  flex-shrink: 0
}

.shrink-0 {
  flex-shrink: 0
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.grid-flow-col {
  grid-auto-flow: column
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr))
}

.grid-cols-\[30px_1fr\] {
  grid-template-columns: 30px 1fr
}

.grid-cols-\[30px_min-content_1fr\] {
  grid-template-columns: 30px min-content 1fr
}

.grid-cols-\[75px_1fr\] {
  grid-template-columns: 75px 1fr
}

.grid-cols-\[auto_min-content\] {
  grid-template-columns: auto min-content
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr))
}

.grid-rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-nowrap {
  flex-wrap: nowrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.gap-0\.5 {
  gap: 0.125rem
}

.gap-1 {
  gap: 0.25rem
}

.gap-1\.5 {
  gap: 0.375rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-2\.5 {
  gap: 0.625rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-4 {
  gap: 1rem
}

.gap-\[1px\] {
  gap: 1px
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.gap-y-2 {
  row-gap: 0.5rem
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse))
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}

.self-end {
  align-self: flex-end
}

.overflow-hidden {
  overflow: hidden
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-hidden {
  overflow-y: hidden
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.overflow-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.whitespace-pre-line {
  white-space: pre-line
}

.whitespace-pre-wrap {
  white-space: pre-wrap
}

.text-nowrap {
  text-wrap: nowrap
}

.break-words {
  overflow-wrap: break-word
}

.rounded {
  border-radius: 0.25rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.rounded-t-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-2 {
  border-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.border-white\/30 {
  border-color: rgb(255 255 255 / 0.3)
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-black\/20 {
  background-color: rgb(0 0 0 / 0.2)
}

.bg-black\/25 {
  background-color: rgb(0 0 0 / 0.25)
}

.bg-black\/70 {
  background-color: rgb(0 0 0 / 0.7)
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1))
}

.bg-green-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1))
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.fill-yellow-500 {
  fill: #eab308
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.p-0 {
  padding: 0px
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pb-0\.5 {
  padding-bottom: 0.125rem
}

.pl-1 {
  padding-left: 0.25rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pr-1 {
  padding-right: 0.25rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pt-0\.5 {
  padding-top: 0.125rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pt-2 {
  padding-top: 0.5rem
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-end {
  text-align: end
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-\[0\.75rem\] {
  font-size: 0.75rem
}

.text-\[10px\] {
  font-size: 10px
}

.text-\[11px\] {
  font-size: 11px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[8px\] {
  font-size: 8px
}

.text-\[9px\] {
  font-size: 9px
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-black {
  font-weight: 900
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.leading-none {
  line-height: 1
}

.leading-relaxed {
  line-height: 1.625
}

.leading-tight {
  line-height: 1.25
}

.tracking-tight {
  letter-spacing: -0.025em
}

.tracking-tighter {
  letter-spacing: -0.05em
}

.tracking-wider {
  letter-spacing: 0.05em
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1))
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1))
}

.text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity, 1))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-white\/50 {
  color: rgb(255 255 255 / 0.5)
}

.text-white\/60 {
  color: rgb(255 255 255 / 0.6)
}

.text-white\/80 {
  color: rgb(255 255 255 / 0.8)
}

.text-white\/90 {
  color: rgb(255 255 255 / 0.9)
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity, 1))
}

.no-underline {
  text-decoration-line: none
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.opacity-50 {
  opacity: 0.5
}

.opacity-80 {
  opacity: 0.8
}

.opacity-90 {
  opacity: 0.9
}

.opacity-95 {
  opacity: 0.95
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-sm {
  --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-200 {
  transition-duration: 200ms
}

.hover\:underline:hover {
  text-decoration-line: underline
}

.hover\:opacity-80:hover {
  opacity: 0.8
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#svg-main.half .half\:mb-1\.5 {
  margin-bottom: 0.375rem
}

#svg-main.half .half\:mb-2 {
  margin-bottom: 0.5rem
}

#svg-main.half .half\:line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

#svg-main.half .half\:hidden {
  display: none
}

#svg-main.half .half\:h-10 {
  height: 2.5rem
}

#svg-main.half .half\:h-12 {
  height: 3rem
}

#svg-main.half .half\:h-14 {
  height: 3.5rem
}

#svg-main.half .half\:h-16 {
  height: 4rem
}

#svg-main.half .half\:h-5 {
  height: 1.25rem
}

#svg-main.half .half\:h-6 {
  height: 1.5rem
}

#svg-main.half .half\:h-\[50px\] {
  height: 50px
}

#svg-main.half .half\:min-h-\[100px\] {
  min-height: 100px
}

#svg-main.half .half\:min-h-\[70px\] {
  min-height: 70px
}

#svg-main.half .half\:w-10 {
  width: 2.5rem
}

#svg-main.half .half\:w-12 {
  width: 3rem
}

#svg-main.half .half\:w-14 {
  width: 3.5rem
}

#svg-main.half .half\:w-16 {
  width: 4rem
}

#svg-main.half .half\:w-5 {
  width: 1.25rem
}

#svg-main.half .half\:w-6 {
  width: 1.5rem
}

#svg-main.half .half\:w-\[50px\] {
  width: 50px
}

#svg-main.half .half\:grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr))
}

#svg-main.half .half\:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

#svg-main.half .half\:grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

#svg-main.half .half\:flex-col {
  flex-direction: column
}

#svg-main.half .half\:gap-1 {
  gap: 0.25rem
}

#svg-main.half .half\:gap-2 {
  gap: 0.5rem
}

#svg-main.half .half\:gap-2\.5 {
  gap: 0.625rem
}

#svg-main.half .half\:gap-3 {
  gap: 0.75rem
}

#svg-main.half .half\:px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

#svg-main.half .half\:py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

#svg-main.half .half\:py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

#svg-main.half .half\:text-\[10px\] {
  font-size: 10px
}

#svg-main.half .half\:text-\[11px\] {
  font-size: 11px
}

#svg-main.half .half\:text-\[9px\] {
  font-size: 9px
}

#svg-main.half .half\:text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

#svg-main.half .half\:text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

#svg-main.half .half\:text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

#svg-main.half .half\:text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

#svg-main.half .half\:text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-green-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(5 46 22 / var(--tw-bg-opacity, 1))
  }

  .dark\:bg-red-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(69 10 10 / var(--tw-bg-opacity, 1))
  }

  .dark\:text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(74 222 128 / var(--tw-text-opacity, 1))
  }

  .dark\:text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity, 1))
  }
}

