.readmeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 900px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--borderColor-default);
  height: fit-content;
}

.readmeHeader {
  line-height: 1.5;
  color: var(--fgColor-default, var(--color-fg-default));
  word-wrap: break-word;
  box-sizing: border-box;
  margin-bottom: 16px !important;
  font-size: 12px;
  width: 100%;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace !important;
}

.colorFgMuted {
  color: var(--fgColor-muted);
  font-family: inherit;
}

.monospace {
  color: var(--fgColor-default, var(--color-fg-default));
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace !important;
}

.profileContainer {
  --horizontalPadding: 16px;
  --verticalPadding: 24px;
  flex-grow: 1;
  padding: var(--verticalPadding) var(--horizontalPadding);
  overflow: hidden;
}

.profileMain {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}

@media (min-width: 768px) {
  .profileMain {
    flex-direction: row;
  }
}

.profileLeftSide {
  padding: 0 var(--horizontalPadding);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  border: 0;
  background: none;
  color: var(--fgColor-default);
  transition: color 0.2s ease-out;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .profileLeftSide {
    width: 25%;
  }
}

.profileRightSide {
  padding: 0 var(--horizontalPadding);
  min-height: 80vh;
}

@media (min-width: 768px) {
  .profileRightSide {
    width: 75%;
  }
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
  width: 100%;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  text-align: center;
}

.tab:hover {
  background-color: var(--bgColor-hover);
}

.tab.selected {
  background-color: var(--bgColor-active);
}
